

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .jumbotron img{
    margin: 0 auto;

  }
  .jumbotron {
   text-align: center;
   background-color:#5b7fcb;
   margin:10px;
   padding:0px;
   color: #fff;
 }


 html, body{
  font-family: "Arial";
  font-size:16px;
  min-height: 100vh;
  background-repeat:repeat-x;
  background-position:left bottom;
  color: #000;
  background-color:#ffffff;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#5b7fcb);
  background-image:-moz-linear-gradient(top, #ffffff 86%, #5b7fcb 85%,#042e68 100%);
  background-image:linear-gradient(top, #ffffff 86%, #5b7fcb 85%,#042e68 100%);
  background-image:-webkit-linear-gradient(top, #ffffff 66%, #5b7fcb 85%,#042e68 100%);
  background-image:-o-linear-gradient(top, #ffffff 86%, #5b7fcb 85%,#042e68 100%);
  background-image:-ms-linear-gradient(top, #ffffff 76%, #5b7fcb 93%,#042e68 100%);
  background-image:-webkit-gradient(linear, right top, right bottom, color-stop(54%,#ffffff), color-stop(85%,#5b7fcb),color-stop(100%,#042e68));
}

body{
  padding:0px;
}

.contact-info{
  padding-top: 16px;
  font-size: 14px !important;
}

.contact-info-tel{
  font-size: 19px !important;
  font-weight: 500;
  font-color:#fff!important;
}

footer {
  color: #fff;
  font-size: 11px;
}

a{
  text-decoration: none !important;
}

#myCarousel{
  max-width: 480px;
}

.css3gradient{
 background-color:#5b7fcb;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#042e68, endColorstr=#5b7fcb);
 background-image:-moz-linear-gradient(left, #042e68 0%, #5b7fcb 25%,#5b7fcb 50%,#042e68 100%);
 background-image:linear-gradient(left, #042e68 0%, #5b7fcb 25%,#5b7fcb 50%,#042e68 100%);
 background-image:-webkit-linear-gradient(left, #042e68 0%, #5b7fcb 25%,#5b7fcb 50%,#042e68 100%);
 background-image:-o-linear-gradient(left, #042e68 0%, #5b7fcb 25%,#5b7fcb 50%,#042e68 100%);
 background-image:-ms-linear-gradient(left, #042e68 0%, #5b7fcb 25%,#5b7fcb 50%,#042e68 100%);
 background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#042e68), color-stop(25%,#5b7fcb),color-stop(50%,#5b7fcb),color-stop(100%,#042e68));
}

.row{
  margin-top: 10px;
}

.last-row{
  margin-bottom: 95px;
}

blockquote{
  border: 0 !important;
  max-width:700px;
  font-size:13px;
  font-style: italic;
}

blockquote .person{
  display:block;
  margin-top: 5px;
}

.person-container{
  padding-right: 0px;
}

.services{
  margin-top:70px
}

/*nav*/

/*Strip the ul of padding and list styling*/
nav {
  display: inline-block;
  width: 100%;
}
#menu {
  width: 100%;
}
nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
  position: relative;
  display: table;
width: 100%;
}

/*Create a horizontal list with spacing*/
nav li {
  display:inline-block;
  float: left;
  display: table-cell;
width: 14%;
}

/*Style for menu links*/
nav li a {
  display:block;
  min-width:140px;
  color: #012b65;
  text-decoration: none;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  text-decoration: none;
  color: #fff;
  background-color: #5B7FCB;
  text-align: center;
  padding: 10px 0;
  display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


a.viewphotos, button.viewphotos {
  font-size:11.5px;
  font-family:Arial-Regular, Arial;
  font-style:normal;
  color: #FFFFFF;
  border:none;
  padding:6px 9px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #012B65;
  text-decoration: none;
}

.full-gallery{
  margin-right:11px;
  margin-bottom:20px;
}
.col-2-text{
  font-size: 13px;
}

  .larger{
    font-size: x-large;
  }

  .carousel img{
    max-height: 500px;
  }

.modal-dialog{
    position: relative;
    display: table; //This is important 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}

#menu li{
  text-align: center;
}

/*Responsive Styles*/

@media screen and (max-width : 900px){
  /*Make dropdown links appear inline*/
  nav {
  display: block;
  width: 102%;
  position: relative;
  left: -1%
  }

  nav ul {
    position: static;
    display: none;
  }
  /*Create vertical spacing*/
  nav li {
    margin-bottom: 1px;
  background-color: #5B7FCB;
  }
  /*Make all menu links full width*/
  nav ul li, li a {
  color: #fff !important;
  line-height: 50px;
  width: 100%;
  }

  #menu a {
    position: relative;
    width: 100%;
    z-index: 100;
    text-decoration: none;
    padding-left: 15px;
  }
  /*Display 'show menu' link*/
  .show-menu {
    display:block;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 1000px) { 
  nav{
    margin-bottom: 30px;
  }

  footer{
    margin-top: 100px;
  }
}

